header{
    background-color: #261B2F;
}

.titulo-principal {
	padding-left: 20px;
    display: inline-block;
    color: rgb(255, 115, 0);
}

.cabecalho-imagem{
  whidth: 10%;
}

body{
    background-color: linear-gradient(#2E1E3C,#8441B9);
}
.titulo-centralizado {
    text-align: center;
    color: rgb(8, 61, 249);
}
